body {
    font-family: "Manrope", sans-serif;
    -ms-overflow-style: none; /* IE aur Edge */
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }